sudo: required

language: python
    - "3.3"

cache: ccache

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y -qq curl expect libxml2-utils python3-pyparsing
    - python3 -c 'from pyparsing import *'

script: ./ci/travis.sh

group: deprecated-2017Q3
